on:
  push:
    tags:        
    - v1.*

jobs:
  build_and_push:
    name: Build and Push to Dockerhub
    runs-on: ubuntu-latest
    steps:
      - name: Checkout master
        uses: actions/checkout@master
      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build image
        run: docker build -t mahisnghrwt/cumin-api:latest .
      - name: Push image
        run: docker push mahisnghrwt/cumin-api:latest

  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    needs: build_and_push
    steps:
      - uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USERNAME }}
          key: ${{ secrets.VPS_KEY }}
          passphrase: ${{ secrets.VPS_PASSPHRASE }}
          port: ${{ secrets.VPS_PORT }}
          script: |
            cd /cumin
            docker container stop cumin-api
            docker image pull mahisnghrwt/cumin-api
            docker run --name cumin-api-self --network cumin-prod_default --network-alias api cumin-api-self
